<p>vaccine works!</p>
<!-- <app-vaccine></app-vaccine> -->
<!-- <body class=""> -->
     <section>
<div class="card-deck">
    <div class="card bg-primary">
      <div class="card-body text-center">
        <h1 class="h1">First Month</h1> 
        <p class="card-text">A DTaP vaccine is the best protection of from three serious deseases:diphtheria,tetanus and whooping cough</p>
         <a routerLink="/slote" (click)="clicked('First Month')"><button>Select Slote</button></a>
    </div>
    </div>

    <div class="card bg-warning">
      <div class="card-body text-center">
        <h1 class="h1">Pneumococcal</h1> 
        <p class="card-text"> any infection caused by bacteria called Streptococcus pneumoniae, or pneumococcus. </p>
        <a routerLink="/slote" (click)="clicked('Pneumococcal')"><button>Select Slote</button></a>
    </div>
    </div>
    <div class="card bg-success">
      <div class="card-body text-center">
        <h1 class="h1">Polio (Poliomyelitis)
        </h1> 
        <p class="card-text">Polio, or poliomyelitis, is a disabling and life-threatening disease caused by the poliovirus. causing paralysis.</p>
        <a routerLink="/slote" (click)="clicked('Polio')"><button>Select Slote</button></a>
       </div>
    </div>
    <div class="card bg-danger">
      <div class="card-body text-center">
        <h1 class="h1">Covaxin for children</h1> 
        <p class="card-text">It is a 2-dose vaccination regimen given 28 days apart. It is a vaccine with no sub-zero storage, no reconstitution requirement</p>
        <a routerLink="/slote" (click)="clicked('Covaxin')"><button>Select Slote</button></a>
    </div>
    </div>
  </div>
</section>
<!-- <--------womwn----------> 
<body class="vaccine">
  <section>
    <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <h1 class="h1">CDC</h1> 
            <p class="card-text"> Every pregnancy:the inactivated flu vaccine (the injection, not the live nasal flu vaccine) and the Tdap vaccine.</p>
            <a routerLink="/slote" (click)="clicked('CDC')"><button>Select Slote</button></a>
        </div>
        </div>
    
        <div class="card bg-warning">
          <div class="card-body text-center">
            <h1 class="h1">Rubella Vaccine</h1> 
            <p class="card-text">Pregnant women should NOT get MMR vaccine. If you get rubella or are exposed to rubella while you're pregnant</p>
            <a routerLink="/slote" (click)="clicked('Rubella Vaccine')"><button>Select Slote</button></a>
        </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <h1 class="h1">Hepatitis B (Poliomyelitis)
            </h1> 
            <p class="card-text">a vaccine-preventable liver infection caused by the hepatitis,Hepatitis B is spread when blood</p>
            <a routerLink="/slote"(click)="clicked('Hepatitis B')"><button>Select Slote</button></a>
  
        </div>
        </div>
        <div class="card bg-danger">
          <div class="card-body text-center">
            <h1 class="h1">Covaxin</h1> 
            <p class="card-text">It is a 2-dose vaccination regimen given 28 days apart. It is a vaccine with no sub-zero storage, no reconstitution requirement            </p>
            <a routerLink="/slote" (click)="clicked('Covaxin(Adults)')"><button>Select Slote</button></a>
        </div>
        </div>
      </div>
      
</section>
</body>
<!-- </body> -->

