
<mat-toolbar color="gray">
    <div div="js">
    <span class="text-danger"><b>Easy Cure</b></span></div>
    <div class="space" style="font-weight: 900;">
     <a mat-button routerLink="/home">HOME</a>
     <a mat-button routerLink="/front">OP TICKET</a>
     <!-- <a mat-button>MEDICINE</a> -->
     <a mat-button  routerLink="/vacc"> VACCINE</a>
     <a mat-button  routerLink="/view"> VIEW</a>
     <a mat-button  routerLink="/vslote"> VIEW VACCINE</a>
    </div>
     <div class="log"></div>
     <button (click)="logout()">Logout</button>
     </mat-toolbar>
 