<app-navbar></app-navbar>



<div>

</div>






    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="container">
          <a class="navbar-brand" href="#"><h3 class="u-margin--0 u-font--bold u-font--30">Read top articles from <br>health experts</h3> <div class="u-t-c--black_1 u-font--14 u-margin--5__top">Health articles that keep you informed about good <br> health practices and achieve your goals.</div></a>
          <a type="button" class="btn btn-primary u-margin--30__top"  href="https://www.verywellfit.com/best-documentaries-to-inspire-a-fit-lifestyle-4149548">See all articles</a>
          </div>
          <div class="move">
          <div class="card" style="width: 18rem;height: 22rem;">
            <img src="..//../assets/sooji.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="u-font--12 u-font--bold u-t-c--green_1 u-t-uppercase u-margin--15__top u-font--bold">Coronavirus</div> <div class="u-margin--5__top"><h6 class="u-font--16 u-margin--0 u-font--bold ">12 Coronavirus Myths and Facts That You Should Be Aware Of</h6></div><div class="u-t-c--black_1 u-font--14 u-margin--10__top">Dr. Diana Borgio</div>
            </div>
          </div>
       </div>

       <div class="move">
        <div class="card" style="width: 18rem;height: 22rem;">
          <img src="..//../assets/food.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <div class="u-font--12 u-font--bold u-t-c--green_1 u-t-uppercase u-margin--15__top u-font--bold">Vitamins and Supplements</div> <div class="u-margin--5__top"><h6 class="u-font--16 u-margin--0 u-font--bold ">Eating Right to Build Immunity Against Cold and Viral Infections</h6></div> <div class="u-t-c--black_1 u-font--14 u-margin--10__top">Dr. Diana Borgio</div><p class="card-text"></p>
          </div>
        </div>
     </div>
       
    </nav>




































<app-card></app-card> 












 
